* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --white: #fff;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1d1d2e;

  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #ff3f4b;
}
