.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  article {
    width: 620px;
    padding: 20px 20px;
    border: 1px solid var(--gray-100);
  }
}

.codigo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
  padding: 20px 20px;
  border: 1px solid var(--gray-100);
  margin-top: 20px;

  input {
    width: 70%;
    height: 40px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--gray-100);
    margin-top: 1rem;
  }

  button {
    width: 50%;
    height: 40px;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: var(--green-900);
    border: 1px solid green;
  }

  button:hover {
    width: 50%;
    height: 40px;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: green;
    color: var(--white);
    border: 1px solid green;
    cursor: pointer;
  }

  p {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

.divtwo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 100px;
    }
  }
}

.boxround {
  width: 48%;
  height: 200px;
  border: 2px solid black;
  margin-top: 1rem;
  border-radius: 10px 50px 30px 40px;
}

.copyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 200px;
  border: 1px solid black;
  margin-top: 1rem;
}

.fadeout {
  opacity: 1;
  animation: fadeout 3s ease-out;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
